.nav
{
    list-style-type: none;
}

.FAQ {
    background-color: teal;
    color: white;
    border-bottom: 1px solid #000;
    padding: 5px 20px 30px;
}

.Coursecurriculum {
    background-color: rgb(153,102,153);
    color: rgb(255,255,204);
    border-bottom: 1px solid #000;
    padding: 5px 20px 30px;
}

.Instructor {
    background-color: #666699;
    color: #FFFFFF;
    border-bottom: 1px solid #000;
    padding: 5px 20px 30px;
}

h1, h2
{
font-family: helvetica;
}

.FAQ li
{
border: 3px dotted black;
}

a
{
    color: aqua !important;
}

a
{
    color: white;
    background-color: black;
    text-decoration: none;
}